﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>

<body>
    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    <script>

        var lastEventNumber = 0;
        var lastCount = 0;
        // Create a request variable and assign a new XMLHttpRequest object to it.
        var request = new XMLHttpRequest()

        // Open a new connection, using the GET request on the URL endpoint
        request.open('GET', 'http://142.93.208.231:38080/api/Events/SpcVariables/6/ControlChartData/FetchChanges?lastEventNumber=0&lastCount=0', true)

        request.onload = function () {
            var data = JSON.parse(this.response)
            console.log('xmax-->' + data.events.xMax);
            if (request.status >= 200 && request.status < 400 && data.events.xMax > 0) {
                lastEventNumber = data.events.maxEventNumer;
                lastCount = data.events.xMax;
                console.log('lasteventnumber'+lastEventNumber);
                console.log('lstcount'+lastCount);
                console.log(data.idVariable)
                var Data = {
                    type: 'scatter',
                    x: data.events.x,
                    y: data.events.y,
                    mode: 'lines+markers',
                    name: 'Data',
                    showlegend: true,
                    hoverinfo: 'all',
                    customdata: ['1:23pm', '1:24pm', '1:25pm'],
                    hovertemplate: 'Az: %{x}, El: %{y}, %{customdata}',
                    line: {
                        color: 'blue',
                        width: 2
                    },
                    marker: {
                        color: 'blue',
                        size: 8,
                        symbol: 'circle'
                    }
                }

                var Viol = {
                    type: 'scatter',
                    x: data.violations.x,
                    y: data.violations.y,
                    mode: 'markers',
                    name: 'Violation',
                    showlegend: true,
                    marker: {
                        color: 'rgb(255,65,54)',
                        line: { width: 3 },
                        opacity: 0.5,
                        size: 12,
                        symbol: 'circle-open'
                    }
                }

                /* var CL = {
                    type: 'scatter',
                    x: [0.5, 10, null, 0.5, 10],
                    y: [-5, -5, null, 5, 5],
                    mode: 'lines',
                    name: 'LCL/UCL',
                    showlegend: true,
                    line: {
                        color: 'red',
                        width: 2,
                        dash: 'dash'
                    },

                }*/

                var Lcl1 = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.oneSigmaLcl, data.controlLimits.oneSigmaLcl],
                    mode: 'lines',
                    name: 'LCL 1/UCL 1',
                    showlegend: true,
                    line: {
                        color: 'green',
                        width: 2,
                        dash: 'dash'
                    }

                }

                var Ucl1 = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.oneSigmaUcl, data.controlLimits.oneSigmaUcl],
                    mode: 'lines',
                    name: 'LCL 1/UCL 1',
                    showlegend: true,
                    line: {
                        color: 'green',
                        width: 2,
                        dash: 'dash'
                    }

                }

                var Lcl2 = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.twoSigmaLcl, data.controlLimits.twoSigmaLcl],
                    mode: 'lines',
                    name: 'LCL/UCL',
                    showlegend: true,
                    line: {
                        color: 'yellow',
                        width: 2,
                        dash: 'dash'
                    }

                }



                var Ucl2 = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.twoSigmaUcl, data.controlLimits.twoSigmaUcl],
                    mode: 'lines',
                    name: 'LCL 2 /UCL 2',
                    showlegend: true,
                    line: {
                        color: 'yellow',
                        width: 2,
                        dash: 'dash'
                    }

                }


                var Lcl = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.lcl, data.controlLimits.lcl],
                    mode: 'lines',
                    name: 'LCL/UCL',
                    showlegend: true,
                    line: {
                        color: 'red',
                        width: 2,
                        dash: 'dash'
                    }

                }



                var Ucl = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.ucl, data.controlLimits.ucl],
                    mode: 'lines',
                    name: 'LCL/UCL',
                    showlegend: true,
                    line: {
                        color: 'red',
                        width: 2,
                        dash: 'dash'
                    }

                }

                var Centre = {
                    type: 'scatter',
                    x: [0.5, data.events.xMax],
                    y: [data.controlLimits.mean, data.controlLimits.mean],
                    mode: 'lines',
                    name: 'Centre',
                    showlegend: true,
                    line: {
                        color: 'black',
                        width: 2
                    }
                }



                // var data = [Data, Viol, CL, Centre, CL1]
                 var plots = [Ucl1,Lcl1,Lcl2,Ucl2,Lcl,Ucl, Centre, Data, Viol  ]
                //var plots = [Data, Viol, Centre]

                var layout = {
                    title: 'Basic SPC Chart',
                  
                    yaxis: {
                        range: [data.events.yMin, data.events.yMax],
                        zeroline: false
                    }
                }

                Plotly.newPlot('myDiv', plots, layout);


            } else {
                console.log('error')
            }




        }

        request.send();

        setInterval(function () {

            console.log('before lasteventnumber' + lastEventNumber);
            console.log('before lstcount' + lastCount);
            var url = 'http://142.93.208.231:38080/api/Events/SpcVariables/6/ControlChartData/FetchChanges?lastEventNumber=' + lastEventNumber + '&lastCount=' + lastCount;
            console.log('url'+url);
            request.open('GET', url, true)

            request.onload = function () {
                var data1 = JSON.parse(this.response)
                console.log("Xmax" + data1.events.xMax);
                if (request.status >= 200 && request.status < 400 && data1.events.xMax > 0) {
                    lastEventNumber = data1.events.maxEventNumer;
                    lastCount = data1.events.xMax;
                    console.log("next"+lastEventNumber);
                    console.log("next"+lastCount);
                    Plotly.extendTraces('myDiv', { x: [data1.events.x, data1.violations.x], y: [data1.events.y, data1.violations.y] }, [0, 1]);
                }
            }
            request.send();

        }, 60000);




    </script>
</body>